<!DOCTYPE html>
<html>
  <head>
    <script src="/assets/index.js"></script>
  </head>
  <body>
    <h1>Typescript example</h1>

    <p>
      <button id="positive">Send Feedback positive</button>
    </p>
    <p>
      <button id="negative">Send Feedback negative</button>
    </p>
    <p>
      <button id="sync">Sync...</button>
    </p>
  </body>
</html>
